.favorites-container {
  margin-top: 2.5%;
  margin-bottom: 10%;
}

.favorites-mapping-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.favorite-card {
  max-height: 150px;
  flex-direction: row !important;
  width: auto !important;
  max-width: 300px;
  cursor: pointer;
}

.card-img {
  max-width: 100px !important;
  width: auto !important;
  height: auto;
}

.favorite-card {
  position: relative !important;
}

.card-title {
  font-size: 18px !important;
  font-weight: 400 !important;
}

.add-to-list {
  left: 110px;
}

.star {
  right: 10px;
}

.floating-buttons {
  width: 100%;
  display: inline;
  overflow: auto;
  white-space: nowrap;
  margin: 25px auto 0 auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* @media only screen and (max-width: 766px) {
} */

/* @media (min-width: 576px) {
  .container {
    max-width: auto;
    width: auto;
  }
} */
