/* .movie-card {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  width: 50%;
  flex-wrap: wrap;
} */

/* .movie-card img {
  width: 50%;
} */

.row {
  margin-top: 5% !important;
  margin-bottom: 5% !important;
  margin-left: 0 !important;
}
