@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Roboto:wght@300;400&display=swap');
.App {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.header {
  font-family: 'Limelight', cursive;
  font-size: 25px;
  text-decoration: none;
  color: #fff;
  height: 50px;
}

.header:hover {
  color: #fff;
}

.nav-link {
  margin: 0.5rem 1rem;
}

.nav-link a {
  color: #fff;
  text-decoration: none;
}

.nav-link a:hover {
  color: #fff;
  text-decoration: underline;
}
