@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Roboto:wght@300;400&display=swap');
.App {
  /* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
  font-size: 18px;
}

.header {
  font-family: 'Limelight', cursive;
  font-size: 25px;
  text-decoration: none;
  color: #fff;
  height: 50px;
}

.header:hover {
  color: #fff;
}

.nav-link {
  margin: 0.5rem 1rem;
}

.nav-link a {
  color: #fff;
  text-decoration: none;
}

.nav-link a:hover {
  color: #fff;
  text-decoration: underline;
}

.custom-button {
  border-radius: 20px !important;
  padding: 2px 15px;
  background-color: #fff;
  color: #353a3d;
  border: 1px solid #353a3d;
  font-size: 16px;
}

.custom-button svg {
  margin-bottom: 4px;
  font-size: 18px;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.popover-button {
  margin-top: 1rem !important;
  text-align: center;
}

.popover-body {
  font-size: 16px;
  cursor: pointer;
  padding: 0 1rem 1rem 1rem !important;
}

.popover-body:hover {
  font-weight: 500;
}

.no-padding-top {
  padding-top: 0 !important;
}

.smaller-font {
  font-size: 16px;
  font-weight: 400;
  width: 400px !important;
}

.not-found-margin-top {
  margin-top: 15rem;
}

.display-margin {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

a {
  text-decoration: none !important;
}

.logout-button {
  font-size: 18px !important;
  text-decoration: none !important;
}

.logout-button:hover {
  text-decoration: underline !important;
}
