@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Roboto:wght@300;400&display=swap');
.App {
  /* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
  font-size: 18px;
}

.header {
  font-family: 'Limelight', cursive;
  font-size: 25px;
  text-decoration: none;
  color: #fff;
  height: 50px;
}

.header:hover {
  color: #fff;
}

.nav-link {
  margin: 0.5rem 1rem;
}

.nav-link a {
  color: #fff;
  text-decoration: none;
}

.nav-link a:hover {
  color: #fff;
  text-decoration: underline;
}

.custom-button {
  border-radius: 20px;
  padding: 2px 10px;
  background-color: #fff;
  color: #353a3d;
  border: 1px solid #353a3d;
  font-size: 16px;
}

.custom-button svg {
  margin-bottom: 4px;
}
